@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --color-primario: #609ED4;
    --color-secundario: #356EA9;
    --color-terciario: #0A3871;
    --color-cuaternario: #072B61;
    --color-quinteario: #052051;
    --color-hover: #31363F;

    --dark-blue-100: #609ED4;
    --dark-blue-200: #356EA9;
    --dark-blue-300: #0A3871;
    --dark-blue-400: #072B61;
    --dark-blue-500: #052051;

    --light-blue-100: #F3F5FC;
    --light-blue-200: #EFF1FA;
    --light-blue-300: #E9ECF8;
    --light-blue-400: #AAB2D5;
    --light-blue-500: #757FB2;

    --gray-100: #CED4DA;
    --gray-200: #ADB5BD;
    --gray-300: #868E96;
    --gray-400: #495057;
    --gray-500: #343A40;

    --white: #FFFFFF;

    --fuente-montserrat: 'Montserrat', sans-serif;
    --fuente-krona: 'Krona One', sans-serif;
    --fuente-inter: 'Inter', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}


/* Estilos generales del cuerpo */
body {
    box-sizing: border-box;
    background-color: var(--light-blue-100);
    color: var(--dark-blue-300);
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentacion__contenido {
    padding: 2%;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.presentacion__logo {
    width: 30%;
    height: auto    ;
    padding: 2% 1%;
}

.Logo {
    max-width: 100%; /* Tamaño máximo de ancho */
    max-height: auto; /* Tamaño máximo de alto */
    width: auto; /* Permite que la imagen ajuste su ancho */
    height: auto; /* Mantiene la proporción original */
  }

.presentacion__titulo {
    padding: 2% 10%;
    font-size: 2.5rem;
    font-family: var(--fuente-krona);
}


/* Estilos del contenedor del formulario */
.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Estilo del título */
h2 {
    margin: 0 0 20px;
    color: #333;
    font-size: 24px;
    font-family: var(--fuente-inter);
}

/* Estilo del párrafo de bienvenida */
p {
    margin: 20px;
    color: #666;
}

/* Estilos para los grupos de entrada */
.input-group {
    margin-bottom: 15px;
    text-align: left;
}

/* Estilo de las etiquetas */
label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilo del botón de envío */
button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Estilo del botón al pasar el ratón */
button:hover {
    background-color: #0056b3;
}

.footer {
    text-decoration: none;
    background-color: var(--dark-blue-500);
    padding: 24px;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;
    align-self: center;
    margin: 0px;
}

@media (max-width: 1200px) {
    .header {
        padding: 10%;
    }

    .header__menu {
        justify-content: center;
    }

    .presentacion {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentacion__contenido {
        width: auto;
    }
}