@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --color-primario: #0A3871;
    --color-secundario: #343A40;
    --color-terciario: #072B61;
    --color-cuaternario: #F3F5FC;
    --color-quinteario: #;
    --color-hover: #31363F;

    --dark-blue-100: #609ED4;
    --dark-blue-200: #356EA9;
    --dark-blue-300: #0A3871;
    --dark-blue-400: #072B61;
    --dark-blue-500: #052051;

    --light-blue-100: #F3F5FC;
    --light-blue-200: #EFF1FA;
    --light-blue-300: #E9ECF8;
    --light-blue-400: #AAB2D5;
    --light-blue-500: #757FB2;

    --gray-100: #CED4DA;
    --gray-200: #ADB5BD;
    --gray-300: #868E96;
    --gray-400: #495057;
    --gray-500: #343A40;

    --white: #FFFFFF;

    --fuente-montserrat: 'Montserrat', sans-serif;
    --fuente-krona: 'Krona One', sans-serif;
    --fuente-inter: 'Inter', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--color-cuaternario);
    color: var(--color-primario);
}

.presentacion__contenido {
    display: flex;
    flex-direction: column;
    place-items: center;
    height: 100%;
}

.seccion__titulo__logo {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
}

.presentacion__logo {
    width: 15%;
    height: auto;
    margin: 3% 5%;
    margin-bottom: 0%;
}

.Logo {
    max-width: 50%;
    max-height: auto;
    width: auto;
    height: auto;
}

.presentacion__titulo {
    font-size: 3rem;
    font-family: var(--fuente-krona);
    align-self: center;
    margin: 1%;
}

.login_container {
    width: 28%;
    height: 400px;
    max-width: 28%;
    max-height: 400px;

    align-content: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    margin-top: 1%;
    margin-bottom: 1.5%;

    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;

    background: 
    linear-gradient(rgba(255, 255, 255, 0.555), rgba(255, 255, 255, 0.726)), url("../assets/ceti.jpg"); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.texto_bienvenido {
    color: var(--color-primario);
    font-size: 2rem;
    font-family: var(--fuente-krona);
    text-align: center;
}

.texto_secundario {
    color: var(--color-secundario);
    font-family: var(--fuente-inter);
    font-weight: 400;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1.2rem;
}

.input-group {
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
    color: var(--color-secundario);
    font-family: var(--fuente-inter);
    font-weight: 600;
    font-size: 1rem;
    height: auto;
    max-height: 400px;
}

label {
    display: block;
    color: var(--color-secundario);
    margin-bottom: 1%;
    text-align: left;
    font-weight: 600;
}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 3%;
    gap: 1px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 0%;
}

/* Estilo del botón de envío */
.boton_iniciarSesion {
    width: 100%;
    padding: 3%;
    background-color: var(--color-primario);
    color: var(--white);
    border: none;
    border-radius: 8px;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 1%;
    transition: background-color 0.3s ease;
}

/* Estilo del botón al pasar el ratón */
button:hover {
    background-color: var(--color-hover);
}

.footer {
    text-decoration: none;
    background-color: var(--color-terciario);
    padding: 3%;
    color: var(--color-cuaternario);
    text-align: center;
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    height: 10%;
    width: 100%;
}

@media (max-width: 1200px) {
    .header {
        padding: 10%;
    }

    .header__menu {
        justify-content: center;
    }

    .presentacion {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentacion__contenido {
        width: auto;
    }
}